body {
	padding: 0.5em 1em;
	font-size: 16px;
}

h2 {
	font-size: 2.25rem;
	color: white;
	text-align: right;
}

p {
	margin: 1.25em 0px;
}

hr {
	color: orange;
}

#Title {
	border: 5px double green;
}
#Title > h1 {
	text-align: center;
	font-size: 2.5rem;
	color: orangered;
}

#Story {
	margin-bottom: 3em;
}

#Story .paragraph::first-letter {
	font-size: 2rem;
	color: green;
	font-style: italic;
}

#Story span {
	background-color: orangered;
	font-weight: bold;
	text-decoration: 2px underline solid;
	font-style: italic;
}

#SectionHeader {
	background-color: green;
}

.commentBlock {
	margin-bottom: 3.5em;
}

#Comment .commentBlock > img {
	float: right;
	margin-left: 1em;
	height: 5em;
}

#Comment .commentBlock > p {
	font-size: 1.1rem;
	padding-top: 0.25em;
}

#ChiCoMotNguoiThoi {
	float: right;
	margin-left: 1em;
}

#BayCuu {
	float: left;
	margin-right: 1em;
}
